// # A General use container
///////////////////////////////////////////////////////////////////////////////


.container {
  position: relative;
  width: $container-width;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  &:after {
    @extend %clearfix;
  }
}

.page {
  padding: rem(16);

  @include at-media(medium) {
    padding:  rem(28) rem(52.8);
  }
}
