///////////////////////////////////////////////////////////////////////////////
// # Variables
//--------------------------------
// All your global variables should be in this file.
// Colors, fonts and Media Queries should always be inside a map for easy
// access and reusability. Try to use abstract names and not font names as
// it won't affect your project in the long run.
///////////////////////////////////////////////////////////////////////////////


// ## Colors
//---------------------------------
///////////////////////////////////////////////////////////////////////////////
$colors: (
  brand:       #144852,
  highlight:   #017c91,
  hover:       #345f69,
  hover-title: #cce4e9,
  border:      #a9c3c7,
  border-top:  #719096,
  success:     #2dd88f,
  alert:       #a72a2a,
  bg-dark:     #eff4f5,
  light:       #98afb3,
  lighter:     #f9fbfb,
  dark:        #333333
);


// ## Fonts
//---------------------------------
///////////////////////////////////////////////////////////////////////////////
$fonts: (
  display: ( 'Open Sans', Helvetica, Arial, sans-serif ),
  body:    ( 'Open Sans', Helvetica, Arial, sans-serif )
);


// ## Media Queries break points
//---------------------------------
///////////////////////////////////////////////////////////////////////////////
$viewports: (
  small: 450px,
  medium: 903px,
  large: 1100px
);


// # Helpers
// Any global helper variable should be defined here. Try to chose a name
// that describes it the best possible.
///////////////////////////////////////////////////////////////////////////////
$container-width: 1040px;
