.btn,
.button,
button {
  padding: .8em 1.8em;

  background: #fff;
  color: getColor(dark);
  border: 1px solid getColor(border);
  border-radius: 2px;
  box-shadow: none;

  transition: .15s ease-out;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: getColor(highlight);
  }

  &.btn-save,
  &.button-save,
  &.btn-delete,
  &.button-delete {
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.36) inset;
    text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.63);
  }

  &.btn-save,
  &.button-save {
    color: #fff;
    background: getColor(highlight);
    border-color: darken(getColor(highlight), 5%);

    &:hover {
      background: darken(getColor(highlight), 5%);
    }
  }

  &.btn-delete,
  &.button-delete {
    color: #fff;
    background: getColor(alert);
    border-color: getColor(dark);

    &:hover {
      background: darken(getColor(alert), 5%);
    }
  }
}
