<template>
<article>
  <h1>Commercial Property - Add Field</h1>
  <div class="content">
    <section class="field-list">
      <div class="field-list-inner">
        <h2 class="field-list-title">Field Types</h2>
        <custom-input v-model="filter">
          <template slot="title">Filter Types</template>
        </custom-input>

        <ul class="field-items">
          <template v-for="item in filteredFieldTypes">
            <li class="field-item" :key="item.type">
              <card :is-active="fieldTypes.selected === item.type ? true : false">
                <template slot="icon">
                  <component :is="item.icon"></component>
                </template>
                <span slot="title">{{ item.type }}</span>
                <template slot="definition">{{ item.definition }}</template>
                <template slot="display">{{ item.defaultDisplay }}t</template>
              </card>
            </li>
          </template>
        </ul>
      </div>
    </section>

    <section class="field-details">
      <h2>Field Details</h2>

      <div class="field-wrap">
        <section class="field-inner">
          <div class="row">
            <custom-input
              v-model="inputs.displayLabel.value"
              @blur="isDisplayLabelValid"
              :is-valid="inputs.displayLabel.isValid"
              :error="inputs.displayLabel.isValid === false ? inputs.displayLabel.errorMessage : ''">
              <template slot="title">Display Label</template>
              <template slot="description">For display purposes, spaces allowed</template>
            </custom-input>

            <custom-input
              v-model="inputs.referenceName.value"
              @blur="inputs.referenceName.value = slugify(inputs.referenceName.value)"
              :is-valid="inputs.referenceName.isValid">
              <template slot="title">Reference Name</template>
              <template slot="description">Used to reference in calculations, no spaces allowed</template>
            </custom-input>
          </div>

          <div class="row">
            <custom-input
              v-model="inputs.defaultValue.value"
              @blur="isDefaultValid"
              :is-valid="inputs.defaultValue.isValid">
              <template slot="title">Default Value</template>
            </custom-input>
          </div>

          <div class="row">
            <custom-input
              v-model="inputs.customValidations.value"
              @blur="isRegexValid"
              :is-valid="inputs.customValidations.isValid"
              :error="inputs.customValidations.isValid === false ? inputs.customValidations.errorMessage : ''">
              <template slot="title">Custom Validation</template>
              <template slot="description">Any regex pattern can be used for custom input validation</template>
            </custom-input>
          </div>

          <div class="tags">
            <h3 class="tags-title">Tags</h3>
            <div class="row">
              <div class="tag-group">
                <h4 class="tag-group-title">Tag Group</h4>
                <ul class="tag-group-list">
                  <template v-for="item in tagGroup">
                    <li class="tag-group-item" :key="item.name" @click="selectedTagGroup = item.name">
                      <tag :is-selected="selectedTagGroup === item.name">{{ item.name }}</tag>
                    </li>
                  </template>
                </ul>
              </div>

              <div class="tags-list">
                <h4 class="tags-list-title">Tags</h4>
                <p v-if="!selectedTagGroup"><i>Select a tag group to see individual tags</i></p>

                <ul v-else class="tags-list-items">
                  <template v-for="(item, index) in tagGroup[selectedTagGroup].items">
                    <li class="tag-list-item" :key="item" @click="tagGroup[selectedTagGroup].selected = index">
                      <tag :is-selected="tagGroup[selectedTagGroup].selected === index">{{ item }}</tag>
                    </li>
                  </template>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <section class="field-groups">
          <h3 class="field-groups-title">Field Groups</h3>
          <p class="field-groups-description">Choose a group for this input</p>

          <ul class="fields-groups-list">
            <template v-for="item in fieldGroups.items">
              <li class="field-group" :key="item.id" @click="fieldGroups.selected = item.id">
                <card-field :is-selected="fieldGroups.selected === item.id ? true : false">
                  <template slot="title">{{ item.name }}</template>
                  <template slot="description">
                    {{ item.amount }} other {{ item.amount > 1 ? 'inputs' : 'input' }}
                  </template>
                </card-field>
              </li>
            </template>
          </ul>

          <button @click="addNewGroup = true">Add A New Group</button>

          <add-group
            v-if="addNewGroup === true"
            :error="addNewGroupError.length > 0 ? addNewGroupError : ''"
            @saveGroup="saveGroup"
            @cancelGroup="cancelGroup"></add-group>
        </section>
      </div>
    </section>
  </div>

  <aside class="actions">
    <button class="button-save">Save Changes</button>
    <button class="button-cancel">Cancel Changes</button>
    <button class="button-delete">Delete Input</button>
  </aside>
</article>
</template>

<script>
import Card from '../components/Card'
import CustomInput from '../components/CustomInput'
import { iconHeader, iconCalendar, iconAutomobile } from '../components/icons'
import Tag from '../components/Tag'
import CardField from '../components/CardField'
import AddGroup from '../components/AddGroup'

import slugify from '../utilities/slugify'

export default {
  name: 'AddField',

  components: {
    Card,
    CustomInput,
    iconHeader,
    iconCalendar,
    iconAutomobile,
    Tag,
    CardField,
    AddGroup
  },

  data() {
    return {
      filter: '',
      addNewGroup: false,
      addNewGroupError: '',

      fieldTypes: {
        selected: 'Text',
        items: [{
          icon: iconHeader,
          definition: 'String of text',
          defaultDisplay: 'Free-form text input',
          type: 'Text'
        }, {
          icon: iconCalendar,
          definition: 'Standard ISO format date',
          defaultDisplay: 'Datepicker, with configurable format',
          type: 'Date'
        }, {
          icon: iconAutomobile,
          definition: 'Vehicle Identification Number',
          defaultDisplay: 'Free-form text input',
          type: 'Vin'
        }, {
          icon: iconHeader,
          definition: 'String of text',
          defaultDisplay: 'Free-form text input',
          type: 'Text2'
        }, {
          icon: iconCalendar,
          definition: 'Standard ISO format date',
          defaultDisplay: 'Datepicker, with configurable format',
          type: 'Text3'
        }, {
          icon: iconAutomobile,
          definition: 'Vehicle Identification Number',
          defaultDisplay: 'Free-form text input',
          type: 'Text4'
        }]
      },

      inputs: {
        displayLabel: {
          value: '',
          isValid: '',
          errorMessage: 'Please insert a name with more than 2 character'
        },
        referenceName: {
          value: '',
          isValid: ''
        },
        defaultValue: {
          value: '',
          isValid: ''
        },
        customValidations: {
          value: '',
          isValid: '',
          errorMessage: 'Please insert a valid regex.'
        }
      },

      selectedTagGroup: '',
      tagGroup: {
        Vinmaster: {
          name: 'Vinmaster',
          items: ['Car brand', 'Car model', 'Fabrication year', 'Plate', 'Color', 'Mileage'],
          selected: ''
        },
        ISO: {
          name: 'ISO',
          items: ['Tag 1', 'Tag 2'],
          selected: ''
        },
        Tag3: {
          name: 'Tag3',
          items: ['Tag 4', 'Tag 5', 'Tag 6', 'Tag 7'],
          selected: ''
        }
      },

      fieldGroups: {
        items: [{
          id: 0,
          name: 'Rental Vehicle Coverage Package',
          amount: 7
        }, {
          id: 1,
          name: 'Rental Motorbike Coverage Package',
          amount: 1
        }, {
          id: 3,
          name: 'Rental Bicicle Coverage Package',
          amount: 0
        }],
        selected: ''
      }
    }
  },

  computed: {
    filteredFieldTypes() {
      return this.fieldTypes.items.filter((item) => {
        const term = new RegExp(this.filter.toLowerCase().trim())
        const type = item.type.toLowerCase()

        return term.test(type)
      })
    }
  },

  methods: {
    setReference() {
      this.inputs.referenceName.value = slugify(this.inputs.displayLabel.value)
      this.inputs.referenceName.isValid = true
    },

    isDisplayLabelValid(value) {
      /*
       I don't know what's the ideal minimum size, but as I think that
       'how', 'ico' and some similar words might be the name of a Field,
       a minimum of 3 charaters seems reasonable
      */
      if (value.length > 2) {
        this.inputs.displayLabel.isValid = true
        this.setReference()
      } else {
        this.inputs.displayLabel.isValid = false
      }
    },

    isDefaultValid(value) {
      if (value.length > 0) {
        this.inputs.defaultValue.isValid = true
      } else {
        this.inputs.defaultValue.isValid = false
      }
    },

    isRegexValid(value) {
      try {
        // eslint-disable-next-line
        new RegExp(value)
        this.inputs.customValidations.isValid = true
      } catch (e) {
        this.inputs.customValidations.isValid = false
      }
    },

    saveGroup(name) {
      if (name.length > 4) {
        const id = this.fieldGroups.items[this.fieldGroups.items.length - 1].id + 1
        const newItem = {
          id,
          name,
          amount: 0
        }

        this.fieldGroups.items.push(newItem)
        this.addNewGroup = false
        this.addNewGroupError = ''
      } else {
        this.addNewGroupError = 'Please insert a name with at least 5 characters'
      }
    },

    cancelGroup() {
      this.addNewGroupError = ''
      this.addNewGroup = false
    },

    slugify
  }
}
</script>

<style lang="scss" scoped>
@import "../styles/vars";
@import "../styles/logic/all";
@import "../styles/helpers/all";

.content {
  overflow: hidden;

  border: 1px solid getColor(border);
  border-radius: 6px;

  @include at-media(large) {
    display: flex;
  }
}

h2 {
  margin-bottom: rem(16);
}

.field-details,
.field-list-inner {
  padding: rem(42) rem(28);
}

.field-list {
  position: relative;
  background: getColor(bg-dark);

  @include at-media(large) {
    width: 40%;
    max-width: 397px;
  }
}

.field-list-inner {
  @include at-media(large) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
  }
}

.field-details {
  width: 100%;

  background: #fff;

  @include at-media(large) {
    border-left: 1px solid getColor(border);
  }

  .input {
    width: 100%;

    @include at-media(medium) {
      width: 46%;
    }
  }
}

.field-items {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: auto;

  list-style: none;

  @include at-media(large) {
    display: block;
  }
}

.field-item {
  margin-right: rem(16);
  margin-bottom: rem(16);

  @include at-media(large) {
    margin-right: 0;
    margin-bottom: rem(26);
  }
}

h2,
h3,
h4 {
  color: getColor(dark);
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: rem(22);
  margin-bottom: 1em;
}

h4 {
  font-size: 18px;
  margin-top: 0;
}

.tag-group,
.tags-list {
  @include at-media(medium) {
    width: 46%;
  }
}

.tag-group {
  margin-bottom: 1rem;

  @include at-media(medium) {
    margin-bottom: 0;
  }
}

.tag-group-list,
.tags-list-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tag-group-item,
.tag-list-item {
  display: inline-block;
  margin-right: 1rem;
}

.tag-list-item {
  margin-bottom: 1rem;
}

.field-wrap {
  @include at-media(medium) {
    display: flex;
    justify-content: space-between;
  }
}

.field-inner {
  @include at-media(medium) {
    width: 70%;
  }
}

.field-groups {
  position: relative;
  width: 100%;
  padding: rem(17);

  background: getColor(bg-dark);
  border: 1px solid getColor(border);
  border-radius: 3px;

  @include at-media(medium) {
    width: rem(320);
    margin-left: 2rem;
  }

  button {
    width: 100%;
    margin-top: 1rem;

    @include at-media(medium) {
      position: absolute;
      bottom: rem(17);
      left: rem(17);
      width: calc(100% - #{rem(34)})
    }
  }
}

.field-groups-title {
  margin: 0;
}

.field-groups-description {
  font-size: rem(14);
}

.fields-groups-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.field-group {
  margin-bottom: 0.5em;
}

.actions {
  width: 100%;
  padding: rem(36) 0;

  text-align: right;

  @extend %clearfix;

  button {
    display: inline-block;
  }

  .button-save {
    width: 100%;
    margin-bottom: 1rem;

    @include at-media(medium) {
      width: auto;
      float: left;
    }
  }

  .button-delete,
  .button-cancel {
    float: left;
    width: 45%;

    @include at-media(medium) {
      float: none;
      width: auto;
    }
  }

  .button-delete {
    margin-left: 10%;

    @include at-media(medium) {
      margin-left: rem(32);
    }
  }
}
</style>
