<template>
  <aside class="add-group">
    <form @submit.prevent="saveGroup">
      <custom-input v-model="groupName" :error="error">
        <template slot="title">Group Name</template>
      </custom-input>

      <div class="actions">
        <button type="submit" class="button-save">Save</button>
        <button class="button-cancel" @click="cancelGroup">Cancel</button>
      </div>
    </form>
  </aside>
</template>

<script>
import CustomInput from './CustomInput'

export default {
  name: 'AddGroup',

  components: {
    CustomInput
  },

  data() {
    return {
      groupName: ''
    }
  },

  props: {
    error: { default() { return '' } }
  },

  methods: {
    saveGroup() {
      this.$emit('saveGroup', this.groupName)
    },

    cancelGroup() {
      this.$emit('cancelGroup')
    }
  }
}
</script>

<style lang="scss" scoped>
.add-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 1rem;

  background: #fff;

  form {
    width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: space-around;

  button {
    width: 45%;
  }
}
</style>
