<template>
  <header class="main-header">
    <div class="logo-wrap">
      <img src="../assets/britecore.png" alt="BriteCore">
    </div>

    <div class="nav-wrap">
      <Navigation></Navigation>
    </div>
  </header>
</template>

<script>
import Navigation from './Navigation'

export default {
  name: 'AppHeader',

  components: {
    Navigation
  }
}
</script>

<style lang="scss" scoped>
@import "../styles/vars";
@import "../styles/logic/all";

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: rem(8) rem(16);

  background: getColor(brand);
  border-top: 1px solid getColor(border-top);

  @include at-media(medium) {
    justify-content: flex-start;
  }
}

.logo-wrap {
  position: relative;
  min-width: rem(170);
  flex-basis: rem(190);

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: -23px;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
  }

  @include at-media(medium) {
    margin-right: 5%;
  }
}
</style>
