<template>
<article :class="['card-field', { 'is-selected': isSelected }]">
  <h4 class="card-field-title">
    <slot name="title"></slot>
  </h4>

  <p class="car-field-description">
    <slot name="description"></slot>
  </p>
</article>
</template>

<script>
export default {
  name: 'CardField',

  props: {
    isSelected: { default() { return false } }
  }
}
</script>

<style lang="scss" scoped>
@import "../styles/vars";
@import "../styles/logic/all";
@import "../styles/helpers/all";

.card-field {
  width: 100%;
  padding: rem(10) rem(6);

  background: #fff;
  border: 1px solid getColor(border);
  border-radius: 3px;
  cursor: pointer;

  &.is-selected {
    background: getColor(highlight);
    border-color: darken(getColor(highlight), 5%);

    .card-field-title,
    .car-field-description {
      color: #fff;
    }
  }
}

.card-field-title {
  margin: 0;
  font-size: rem(16);
}

.car-field-description {
  margin: 0;
  margin-top: .5em;

  color: getColor(brand);
  font-size: rem(14);
}
</style>
