<template>
<article :class="['card', { 'is-active': isActive }]">
  <h3 class="card-title">
    <span class="card-icon"><slot name="icon"></slot></span>
    <slot name="title"></slot>
  </h3>

  <section class="card-definition">
    <h4 class="card-definition-title">
      Definition
    </h4>

    <p class="card-definition-description">
      <slot name="definition"></slot>
    </p>
  </section>

  <section class="card-display">
    <h4 class="card-display-title">
      Default Display
    </h4>

    <p class="card-display-description">
      <slot name="display"></slot>
    </p>
  </section>
</article>
</template>

<script>
export default {
  name: 'card',

  props: {
    isActive: {
      default() { return false }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../styles/vars";
@import "../styles/logic/all";

h4 {
  margin-top: rem(28);
  margin-bottom: rem(11);

  color: getColor(hover);
  font-size: rem(14);
  font-weight: 400;
}

p {
  margin: 0;
}

.card-title {
  margin-top: 0;

  color: getColor(dark);
  font-size: rem(22);
}

.card-icon {
  svg {
    width: 18px;
    height: 18px;
  }
}

.card {
  width: rem(324);
  max-width: 100%;
  padding: rem(19) rem(14);

  background: #fff;
  border: 1px solid getColor(border);
  border-radius: 6px;
  cursor: pointer;

  transition: .15s ease-out;


  &:hover,
  &.is-active {
    background: getColor(highlight);
    border-color: darken(getColor(highlight), 5%);

    p,
    .card-title {
      color: #fff;
    }

    h4 {
      color: getColor(hover-title);
    }
    .card-icon {
      fill: getColor(hover-title);
    }
  }
}
</style>
