<template>
<div :class="['input', { 'has-error': !!error }, { 'is-valid': isValid === true }]">
  <label class="input-inner">
    <span class="input-title">
      <slot name="title"></slot>
    </span>

    <div v-if="error" class="input-error">{{ error }}</div>

    <input
      class="input-input"
      ref="input"
      :value="value"
      :type="type"
      :name="name"
      @input="emitEvent('input', $event.target.value)"
      @blur="emitEvent('blur', $event.target.value)"
      @focus="emitEvent('focus', $event.target.value)">
  </label>

  <div class="input-description">
    <slot name="description"></slot>
  </div>
</div>
</template>

<script>
export default {
  name: 'CustomInput',

  props: {
    value: { default() { return '' } },
    type: { default() { return 'text' } },
    name: { default() { return '' } },
    pattern: { default() { return '' } },
    isValid: { default() { return '' } },
    error: { default() { return '' } }
  },

  methods: {
    emitEvent(event, value) {
      this.$emit(event, value.trim())
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../styles/vars";
@import "../styles/logic/all";

.input {
  margin-bottom: rem(26);
}

.input-title {
  display: block;
  margin-bottom: rem(18);

  color: getColor(dark);
}

.input-error {
  margin-bottom: .5em;

  color: getColor(alert);
  font-size: rem(14, 16);
}

.input-input {
  width: 100%;
  height: rem(46);

  border: 1px solid getColor(border);
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;

  .has-error & {
    border-color: getColor(alert);
  }

  .is-valid & {
    border-color: getColor(success);
  }
}

.input-description {
  color: getColor(hover);
  font-size: rem(14);
}
</style>
