<template>
  <nav class="nav-main" :class="{ 'is-active': isMenuActive }">
    <div class="icon-wrap" @click="isMenuActive = !isMenuActive">
      <icon-menu class="icon-menu" :isActive="isMenuActive"></icon-menu>
    </div>

    <ul class="nav-list">
      <li>
        <a class="nav-link" href="#Policies" title="Policies">
          <icon-umbrella></icon-umbrella>
          <span>Policies</span>
        </a>
      </li>

      <li>
        <a class="nav-link" href="#Claims" title="Claims">
          <icon-bolt></icon-bolt>
          <span>Claims</span>
        </a>
      </li>

      <li>
        <a class="nav-link" href="#Contacts" title="Contacts">
          <icon-user></icon-user>
          <span>Contacts</span>
        </a>
      </li>

      <li>
        <a class="nav-link" href="#Data" title="Data">
          <icon-bar-chart></icon-bar-chart>
          <span>Data</span>
        </a>
      </li>

      <li>
        <a class="nav-link" href="#Lines" title="Lines">
          <icon-book></icon-book>
          <span>Lines</span>
        </a>
      </li>

      <li>
        <a class="nav-link" href="#All-Modules" title="All Modules">
          <img src="../assets/icon-britecore.png" alt="All Modules">
          <span>All Modules</span>
        </a>
      </li>

    </ul>
  </nav>
</template>

<script>
import {
  iconUmbrella,
  iconBolt,
  iconUser,
  iconBarChart,
  iconBook,
  iconMenu
} from './icons'

export default {
  name: 'Navigation',
  components: {
    iconUmbrella,
    iconBolt,
    iconUser,
    iconBarChart,
    iconBook,
    iconMenu
  },

  data() {
    return {
      isMenuActive: false
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../styles/vars";
@import "../styles/logic/all";

a {
  display: inline-block;
  width: 100%;
  padding: em(18, 14);

  color: #fff;

  @include at-media(medium) {
    width: auto;
    padding: em(6, 16) em(12, 16);
  }
}

svg,
span,
img {
  vertical-align: middle;
}

img {
  margin-right: em(4, 16);
}

svg {
  width: 20px;
  height: 18px;

  fill: getColor(light);
}

.icon-menu {
  @include at-media(medium) {
    display: none;
  }
}

.nav-list {
  position: fixed;
  top: 41px;
  right: 0;
  z-index: 10;

  width: 80%;
  max-width: 300px;
  height: calc(100% - 41px);
  margin: 0;
  padding: 0;

  list-style: none;
  background: getColor(brand);

  transition: .2s ease-out;
  transform: translate3d(100%, 0, 0);
  visibility: hidden;

  @include at-media(medium) {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    max-width: 100%;

    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  .is-active & {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  > li {
    transition: background .15s ease-out;

    @include at-media(medium) {
      display: inline-block;
      border-radius: 6px;
    }

    &:hover {
      background: getColor(hover);

      svg {
        fill: #fff;
      }
    }
  }
}
</style>
