<template>
<span :class="['tag', { 'is-selected': isSelected }]">
  <slot></slot>
</span>
</template>

<script>
export default {
  name: 'Tag',

  props: {
    isSelected: { default() { return false } }
  }
}
</script>

<style lang="scss" scoped>
@import "../styles/vars";
@import "../styles/logic/all";
@import "../styles/helpers/all";

.tag {
  display: inline-block;
  padding: .6em;

  color: getColor(brand);
  background: getColor(bg-dark);
  border: 1px solid getColor(border);
  border-radius: 4px;
  cursor: pointer;

  transition: .15s ease-out;

  font-weight: 700;

  &.is-selected {
    color: #fff;
    background: getColor(brand);
    border-color: darken(getColor(brand), 5%);
  }
}
</style>
