<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 26 28">
    <title>umbrella</title>

    <path d="M14 12.938v9.063c0 2.172-1.828 4-4 4s-4-1.828-4-4c0-0.547 0.453-1 1-1s1 0.453 1 1c0 1.047 0.953 2 2 2s2-0.953 2-2v-9.063c0.328-0.109 0.656-0.172 1-0.172s0.672 0.063 1 0.172zM26 13.359c0 0.266-0.234 0.5-0.5 0.5-0.141 0-0.25-0.063-0.359-0.156-0.906-0.844-1.75-1.437-3.047-1.437-1.484 0-2.766 0.922-3.609 2.094-0.187 0.266-0.328 0.547-0.5 0.812-0.109 0.172-0.234 0.266-0.438 0.266-0.219 0-0.344-0.094-0.453-0.266-0.172-0.266-0.313-0.547-0.5-0.812-0.844-1.172-2.109-2.094-3.594-2.094s-2.75 0.922-3.594 2.094c-0.187 0.266-0.328 0.547-0.5 0.812-0.109 0.172-0.234 0.266-0.453 0.266-0.203 0-0.328-0.094-0.438-0.266-0.172-0.266-0.313-0.547-0.5-0.812-0.844-1.172-2.125-2.094-3.609-2.094-1.297 0-2.141 0.594-3.047 1.437-0.109 0.094-0.219 0.156-0.359 0.156-0.266 0-0.5-0.234-0.5-0.5 0-0.047 0-0.078 0.016-0.109 1.437-5.906 7.141-9.25 12.984-9.25 5.812 0 11.578 3.344 12.984 9.25 0.016 0.031 0.016 0.063 0.016 0.109zM14 2v1.531c-0.328-0.016-0.672-0.031-1-0.031s-0.672 0.016-1 0.031v-1.531c0-0.547 0.453-1 1-1s1 0.453 1 1z"></path>
  </svg>
</template>

<script>
export default {
  name: 'iconUmbrella',
  props: {
    width: {
      default() { return 26 }
    },
    height: {
      default() { return 28 }
    }
  }
}
</script>
