<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 32 28">
    <title>automobile</title>

    <path d="M7.5 17c0-1.375-1.125-2.5-2.5-2.5s-2.5 1.125-2.5 2.5 1.125 2.5 2.5 2.5 2.5-1.125 2.5-2.5zM8.062 12h15.875l-1.391-5.578c-0.047-0.172-0.359-0.422-0.547-0.422h-12c-0.187 0-0.5 0.25-0.547 0.422zM29.5 17c0-1.375-1.125-2.5-2.5-2.5s-2.5 1.125-2.5 2.5 1.125 2.5 2.5 2.5 2.5-1.125 2.5-2.5zM32 15.5v6c0 0.281-0.219 0.5-0.5 0.5h-1.5v2c0 1.656-1.344 3-3 3s-3-1.344-3-3v-2h-16v2c0 1.656-1.344 3-3 3s-3-1.344-3-3v-2h-1.5c-0.281 0-0.5-0.219-0.5-0.5v-6c0-1.937 1.563-3.5 3.5-3.5h0.438l1.641-6.547c0.484-1.969 2.391-3.453 4.422-3.453h12c2.031 0 3.938 1.484 4.422 3.453l1.641 6.547h0.438c1.937 0 3.5 1.563 3.5 3.5z"></path>
  </svg>
</template>

<script>
export default {
  name: 'iconAutomobile',
  props: {
    width: {
      default() { return 32 }
    },
    height: {
      default() { return 28 }
    }
  }
}
</script>
