<template>
<svg :class="['icon-menu', isActive ? 'is-active': '']" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" :width="width" :height="height">
  <path class="icon-menu--top" d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636    c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z" fill="#FFFFFF"/>
  <path class="icon-menu--middle1" d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636    c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z" fill="#FFFFFF"/>
  <path class="icon-menu--middle2" d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636    c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z" fill="#FFFFFF"/>
  <path class="icon-menu--bottom" d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636    c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z" fill="#FFFFFF"/>
</svg>
</template>

<script>
export default {
  name: 'iconMenu',
  props: {
    width: {
      default() { return 25 }
    },

    height: {
      default() { return 25 }
    },

    isActive: {
      default() { return false }
    }
  }
}
</script>

<style lang="scss" scoped>
.icon-menu {
  &--middle1,
  &--middle2, {
    transition: .15s ease-out;
    transform-origin: 50% 50%;
  }

  &--top,
  &--bottom {
    transition:  .15s ease-out;

    .is-active & {
      opacity: 0;
    }
  }

  &--middle1 {
    .is-active & {
      transform: rotate(-45deg);
    }
  }

  &--middle2 {
    .is-active & {
      transform: rotate(45deg);
    }
  }
}
</style>
