<style src="./styles/style.scss" lang="scss"></style>
<template>
  <div id="app">
    <app-header></app-header>

    <main class="page">
      <add-field></add-field>
    </main>
  </div>
</template>

<script>
import AppHeader from './components/AppHeader'
import AddField from './pages/AddField'

export default {
  name: 'App',
  components: {
    AppHeader,
    AddField
  }
}
</script>

<style>
</style>
