///////////////////////////////////////////////////////////////////////////////
//   # Base styles
//     All your general styles should be here
///////////////////////////////////////////////////////////////////////////////


html {
  background: getColor(lighter);

  font-size: 85%;
  font-family: getFont(body);
  line-height: 1.2;

  @include at-media(large) {
    font-size: 100%;
    line-height: 1.35;
  }
}

a {
  color: getColor(brand);
  text-decoration: none;
}
