///////////////////////////////////////////////////////////////////////////////
// # Type
// Basic typography styling.
///////////////////////////////////////////////////////////////////////////////

p,
ul,
ol,
hr,
table,
form,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.414em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  margin-top: 0;
  margin-bottom: .67em;

  font-size: rem(28, 14);
  font-weight: 300;

  @include at-media(medium) {
    font-size: rem(46);
  }
}

h2 {
  font-size:rem(22);

  @include at-media(medium) {
    font-size:rem(32);
  }
}

h3 {
  font-size: 1.999rem;
}

h4 {
  font-size: 1.414rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
